/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    grid-row-end: none;: #f9f9f9;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #0d6efd;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    color: #0d6efd;
    text-align: center;
    margin-bottom: 20px;
}

.teacher,
.student {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.teacher:hover,
.student:hover {
    transform: translateY(-5px);
}

.teacher-image img,
.student-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* делаем изображение круглым */
}

.teacher-details,
.student-details {
    padding: 20px;
}

.teacher-details h3,
.student-details h4 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.teacher-details .subtitle,
.student-details .subtitle {
    font-style: italic;
    color: #777;
    margin-top: 5px;
}

.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .teacher,
    .student {
        grid-template-columns: auto;
    }
}